<h1>Painel Administrativo</h1>

<h2>Presentes Escolhidos</h2>

<table border="1">
    <tr>
        <th>Convidado</th>
        <th>Presente</th>
    </tr>

    {% for escolha in escolhas %}
    <tr>
        <td>{{ escolha.nome_convidado }}</td>
        <td>{{ escolha.presente.nome }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Lista Completa</h2>

<table border="1">
    <tr>
        <th>Presente</th>
        <th>Status</th>
    </tr>

    {% for presente in presentes %}
    <tr>
        <td>{{ presente.nome }}</td>

        <td>
            {% if presente.escolhido %}
                Escolhido
            {% else %}
                Disponível
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>